@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  font-family: "Roboto";
  grid-template-areas: "sb hd hd hd hd " "sb mn mn mn rb ";
}

.header {
  grid-area: hd;
  background-color: #a78bfa;
}

.main {
  grid-area: mn;
  background-color: #f3f4f6;
}

.left_side_bar {
  grid-area: sb;
  background-color: #0ea5e9;
}

.right_side_bar {
  grid-area: rb;
  background-color: #0ea5e9;
}

/*  STYLING  SIDEBAR SECTION*/

.left_side_bar .dashboard_header {
  font-size: 1.4rem;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 1.5rem;
  margin-left: 2.3rem;
  letter-spacing: 0.2rem;
}

.navigation_menu {
  margin-left: 1.4rem;
}
.navigation_menu ul {
  list-style: none;
}

.navigation_menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  letter-spacing: 0.2rem;
  padding: 10px 15px;
}

.navigation_menu {
  margin-top: 2rem;
}

/* SYLING HEADER SECTION */
.header_second_row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.header_second_row .profile_intro {
  display: flex;
  grid-column: span 7;
}
.header_second_row .profile_intro img {
  border-radius: 50%;
  height: 50px;
}

/* STYLING MAIN CONTENT  */
.title {
  margin: 1.2em 0 1.2em 2rem;
  font-size: 1.2rem;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1.2rem 2rem;
  row-gap: 1.8rem;
  column-gap: 3rem;
}

.main-container {
  background-color: white;
  border: 5px solid white;
  border-radius: 8px;
  max-width: 380px;
  max-height: 210px;
  padding: 20px;
  line-height: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.main-container::before {
  content: "";
  border-radius: 8px;
  border-left: 10px solid #eab308;
  position: absolute;
  height: 105%;
  width: 100%;
  top: -5px;
  left: -4px;
}

.main-container h4 {
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.3rem;
  margin-top: 1.2rem;
}

.main-container p {
  color: #4b5563cb;
  font-size: 0.9rem;
}

/*  RIGHT SIDE BAR STYLING */

.right_bar_content {
  max-width: 280px;
  margin-left: 5px;
  min-height: 350px;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right_bar_content .rb_content {
  padding: 20px 25px;
  max-width: 235px;
}

.rb_content:nth-child(1) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.311);
}

.rb_content:nth-child(2) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.311);
}

.right_bar_content .rb_content h3 {
  font-size: 0.9rem;
}

.right_bar_content .rb_content p {
  color: #4b5563cb;
  font-size: 0.75rem;
}

.right_side_bar .rb_title {
  font-size: 1.1rem;
  margin: 1.2rem 0.6rem;
}

.right_bar_second_content {
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
  margin-left: 5px;
}

.rb_second_content img {
  border-radius: 50%;
  height: 90px;
  width: 120px;
}
